<!-- Search Result row -->
<!-- <div class="row px-4 py-2 bg-search-black">
    <div class="col-5">
        <div class="row">
            <span class="title">APPL <span class="subtitle px-2">Apple Inc.</span></span> 
        </div>        
    </div>
    <div class="col-5">
        <span class="ml-auto m-3"><span class="market"><b>Market Open</b> - </span>09:30<span class="market"> | <b>Market Close</b></span> - 16:00<span class="market"> | <b>Time Zone</b> - </span>UTC-05</span>
    </div>
    <div class="col-2 add search">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg></span>
    </div>
</div> -->


<!-- One row -->
<!-- <div class="row p-2 select align-items-center fav__link">
    <div class="col-5">
        <div class="row">APPL</div>
        <div class="row">Apple Inc.</div>
    </div>
    <div class="col-5">296.33 <span class="text-success">+ 0.63</span> 
    </div>
    <div class="col-2 remove delete-btn">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"/><line x1="15" y1="9" x2="9" y2="15"/><line x1="9" y1="9" x2="15" y2="15"/></svg></span>
    </div>    
</div> -->
<!-- One row -->
<!-- <div class="row p-2 select align-items-center fav__link">
    <div class="col-5">
        <div class="row">APPL</div>
        <div class="row">Apple Inc.</div>
    </div>
    <div class="col-5">296.33 <span class="text-success">+ 0.63</span> 
    </div>
    <div class="col-2 remove delete-btn">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"/><line x1="15" y1="9" x2="9" y2="15"/><line x1="9" y1="9" x2="15" y2="15"/></svg></span>
    </div>    
</div> -->
<!-- One row -->
<!-- <div class="row p-2 select align-items-center fav__link">
    <div class="col-5">
        <div class="row">APPL</div>
        <div class="row">Apple Inc.</div>
    </div>
    <div class="col-5">296.33 <span class="text-success">+ 0.63</span> 
    </div>
    <div class="col-2 remove delete-btn">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"/><line x1="15" y1="9" x2="9" y2="15"/><line x1="9" y1="9" x2="15" y2="15"/></svg></span>
    </div>    
</div> -->

<!--
    1. Have to fix main.js and get_result.py to a non-demo version


    Next Implementations
    


-->